body {
    padding: 0%;
    margin: 0%;
}


/* top banner section starts from here */

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
}

.core-color {
    color: #4BB7EE;
}

.banner-section {
    background-color: rgb(230, 230, 230);
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: right;
    /* background-position-x: 900px; */
    padding: 10px 0px;
}

.banner-section img {
    width: 70%;
    padding-left: 3%;
}

.banner-section h1 {
    font-size: 50px;
    font-family: 'poppins', sans-serif;
}

.single-name {
    font-family: 'Courgette', cursive;
}

.banner-section h3 {
    font-size: 20px;
    font-family: 'poppins', sans-serif;
}

.banner-section p {
    font-family: 'poppins', sans-serif;
    color: rgb(56, 56, 56);
    padding-bottom: 10px;
}

.hire-me-btn {
    color: white;
    background-color: #4BB7EE;
    padding: 8px 30px;
    text-decoration: none;
    border: 1px solid white;
    font-family: poppins, sans-serif;
    border-radius: 5px;
}

/* top banner section ends from here */



/* dream section starts from here */
.section-dream h1 {
    text-align: center;
    font-size: 35px;
    font-family: poppins, sans-serif;
    padding: 40px 0px;
}


.section-dream img {
    width: 70%;
    padding-left: 15%;
}

.section-dream h2 {
    font-size: 50px;
    font-family: 'poppins', sans-serif;
}

.section-dream h3 {
    font-size: 20px;
    font-family: 'poppins', sans-serif;
}

.dream-left-txt {
    padding-left: 5%;
}

.dream-left-txt p {
    font-family: 'poppins', sans-serif;
    color: rgb(56, 56, 56);
}

.resume-dw-btn {
    font-size: 14px;
    color: white;
    background-color: #4BB7EE;
    padding: 10px 25px;
    text-decoration: none;
    font-family: poppins, sans-serif;
    border-radius: 5px;
}

.section-dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position-y: 70%;
    background-position-x: 28%;

}

/* dream section ends from here */


/* experience section starts from here */

.experience-area h1 {
    text-align: center;
    font-size: 35px;
    font-family: poppins, sans-serif;
    padding: 60px 0px;
}

.experience-item {
    margin-left: 5%;
    width: 40%;
    box-shadow: 5px 5px 50px gray;
    padding: 30px 0px 80px 20px;
}

.experience-item h2 {
    font-size: 40px;
    font-family: poppins, sans-serif;
}

.experience-item h3 {
    font-size: 20px;
    font-family: poppins, sans-serif;
}

.experience-item p {
    font-family: poppins, sans-serif;
}

.exp-box-1 {
    border-left: 7px solid black;
    border-image: linear-gradient(#4BB7EE, #3EC4D9);
    border-image-slice: 1;
}

.exp-box-2 {
    border-left: 7px solid black;
    border-image: linear-gradient(#4BB7EE, #3EC4D9);
    border-image-slice: 1;
}

/* experience section ends from here */


/* footer section starts from here */
footer p {
    padding-top: 200px;
    text-align: center;
    font-family: poppins, sans-serif;
}

/* footer section ends from here */